@(loggedIn: Boolean, name: String, elmoXML: String, sessionId: String, returnUrl: String)



@main.default(
	name,
	loggedIn
) {
<form action="@returnUrl" method="POST">
	<input type="hidden" name="sessionId" value="@sessionId"/>
	<input type="hidden" id="elmo" name="data" value="@elmoXML"/>
	<div id="results"></div>
	<script type="text/javascript">
		jQuerySun(document).ready(function() {
			displayXml(true, '12345678901');		
		})
	</script>
	<input type="submit" name="Send data" value="Send data" class="green large"/>
</form>
    
}

